body{
    background-color: #57544f;
}

header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.logo{
    margin: 3px;
    height: 70px;
    width: 13%;
    display: flex;
    align-items: center;
    background-color: #121010;
}

.nome{
    font-size: larger;
    color: #ff3f3f;
}

.pagina{
    background-color: #121010;
    margin: 3px;
    height: 70px;
    width: 35%;
    display: flex;
    align-items: center;
}

.pagina ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.pesquisa{
    border: solid 2px red;
    margin: 3px;
    height: 70px;
    width: 30%;
    display: flex;
    align-items: center;
}

.barra{
    border: solid 2px red;
    height: 20px;
    width: 95%;
    border-radius: 8px;
}

main{
    width: 100%;
    height: 500px;
}

.sec1{
    background-color: black;
    margin-top: 5px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto1{
    color: white;
    height: 450px;
    width: 40%;
}

.imagem1{
    height: 400px;
    width: 50%;
    display: flex;
}

.imagem1 img{
    width: 100%;
}

.sec2{
    background-color: #425170;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marvel{
    height: 250px;
    width: 19%;
    display: flex
}

.marvel img{
    width: 100%;
}

.dc{
    height: 250px;
    width: 19%;
    display: flex
}

.dc img{
    width: 100%;
}

.filmes{
    border: solid 2px red;
    height: 250px;
    width: 19%;
}

.series{
    border: solid 2px red;
    height: 250px;
    width: 19%;
}

.series img{
    width: ;
}

.sec3{
    background-color: #b0312e;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto2{
    color: white;
    height: 450px;
    width: 40%;
}

.imagem2{
    height: 400px;
    width: 15%;
    display: flex;
}

.imagem2 img{
    width: 100%;
}

footer{
    border: solid 2px red;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nota{
    border: solid 2px red;
    height: 30px;
    width: 20%;
}

.nome{
    border: solid 2px red;
    height: 30px;
    width: 50%;
}