body{
    background-color: #425170;
}

/* Cabeçalho */
header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
}

.logo{
    margin: 4px;
    height: 70px;
    width: 13%;
    display: flex;
    align-items: center;
    background-color: #121010;
}

.nome{
    font-size: larger;
    color: #ff3f3f;
}

.pesquisa{
    margin: 4px;
    height: 70px;
    width: 30%;
    display: flex;
    align-items: center;
}

.barra{
    height: 20px;
    width: 95%;
    border-radius: 8px;
}

.login{
    background-color: #272525;
    height: 70px;
    margin: 3px;
}

.login img{
    height: 70px;
}
/* Fim do cabeçalho */


/* Página inicial */
nav{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}

.pagina{
    background-color: #121010;
    margin: 4px;
    height: 70px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.pagina ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul a{
    color: #b0312e;
    text-decoration: none;
}

.sec1{
    background-color: black;
    margin-top: 3px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.texto1{
    color: white;
    height: 450px;
    width: 40%;
}

.imagem1{
    height: 20vw;
    width: 50%;
    display: flex;
}

.sec2{
    margin: 3px 3px;
    background-color: #425170;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.noticia1{
    height: 13vw;
    width: 30%;
    display: flex;
}

.imgNoticia1{
    background-image: url("/imagens/adlogov2.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.noticia2{
    height: 13vw;
    width: 30%;
    display: flex
}

.imgNoticia2{
    background-image: url("/imagens/flash.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.noticia3{
    height: 13vw;
    width: 30%;
    display: flex;
}

.imgNoticia3{
    background-image: url("/imagens/luffy.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.sec3{
    background-color: #b0312e;
    height: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin: 3px 3px;
}

.texto2{
    color: white;
    height: fit-content;
    width: 45%;
}

.imagem2{
    height: 385px;
    width: 15%;
    display: flex;
}

.imagem2 img{
    height: 20vw;
    width: 100%;
    display: flex;
}

.sec-teste{
    width: 100%;
    height: 250px;
    display: flex;
}

.teste-img{
    background-image: url("imagens/marvel.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 419px;
    border-radius: 50%;
    margin: 20px;
    background-position: -109px -16px;
}

.teste-img1{
    background-image: url("imagens/universodc.jpg");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 395px;
    border-radius: 50%;
    margin: 20px;
    background-position: -191px -16px;
}

.teste-img2{
    background-image: url("imagens/Star_Wars_Logo.svg.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 234px;
    border-radius: 50%;
    margin: 20px;
    background-position: -24px 27px;
}
/* Fim da página inicial */


/* Começo da página de séries */
.sec1_serie{
    background-color: black;
    margin-top: 3px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 60%;
}

.texto1_serie{
    color: white;
    height: 250px;
    width: 20%;
}

.noticia1_serie{
    height: 7vw;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.imgNoticia1_serie{
    background-image: url("/imagens/luffy.jpg");
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}


/* Começo da página Sobre nós */
.sec1_sobrenos{
    background-color: black;
    margin-top: 3px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto1_sobrenos{
    color: white;
    height: 450px;
    width: 40%;
}
/* Fim da página Sobre nós */


/* Footer */
footer{
    background-color: #272525;
    height: 380px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.div-rod{
    border: solid white 1px;
    width: 10%;
    height: 340px;
    margin: 15px;
}

.titulo-rod{
    color: #b0312e;
    text-align: center;
}

.list-rod ul{
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

/* 
.nota{
    font-size: larger;
    color: #b0312e;
    height: 30px;
    width: 20%;
}

.nomeautor{
    font-size: larger;
    color: #b0312e;
    height: 30px;
    width: 10%;
}

.filmes ul{
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.filmes ul a{
    color: #b0312e;
} */