body{
    background-color: #57544f;
}

header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1px;
}

.logo{
    margin: 4px;
    height: 70px;
    width: 13%;
    display: flex;
    align-items: center;
    background-color: #121010;
}

.nome{
    font-size: larger;
    color: #ff3f3f;
}

.pesquisa{
    margin: 4px;
    height: 70px;
    width: 30%;
    display: flex;
    align-items: center;
}

.barra{
    height: 20px;
    width: 95%;
    border-radius: 8px;
}

.login{
    background-color: #272525;
    height: 70px;
    margin: 3px;
}

.login img{
    height: 70px;
}

main{
    width: 100%;
    height: 500px;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.pagina{
    background-color: #121010;
    margin: 4px;
    height: 70px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.pagina ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul a{
    color: #b0312e;
    text-decoration: none;
}

.paisec2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec1{
    background-color: black;
    margin-top: 3px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto1{
    color: white;
    height: 450px;
    width: 40%;
}

.imagem1{
    height: 400px;
    width: 50%;
    display: flex;
}

.paisec2{
    background-color: #323632;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec2{

    /* height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center; */

    background-color: #323632;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.noticia1{
    border: solid 2px red;
    height: 250px;
    width: 30%;
    display: flex;
    
}

.imgNoticia1{
    background-image: url("/imagens/adlogo.jpeg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.noticia2{
    border: solid 2px red;
    height: 250px;
    width: 30%;
    display: flex
}

.noticia3{
    border: solid 2px red;
    height: 250px;
    width: 30%;
    display: flex;
}

.sec3{
    background-color: #b0312e;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto2{
    color: white;
    height: 450px;
    width: 40%;
}

.imagem2{
    height: 400px;
    width: 15%;
    display: flex;
}

.imagem2 img{
    width: 100%;
}

footer{
    background-color: #272525;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nota{
    font-size: larger;
    color: #b0312e;
    height: 30px;
    width: 20%;
}

.nomeautor{
    font-size: larger;
    color: #b0312e;
    height: 30px;
    width: 10%;
}